
.App-logo {
  margin-left: 15px;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nanav{
  margin-left: 50px;
  transition: transform .2s;
  padding-right: auto;
}

.nanav:hover{

  background-color: rgb(64, 19, 228);
  color:white;
  transform: scale(1.2);
}
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.01);
}